In [1]:
# Dependency 
import pandas as pd
import json
import numpy as np
from IPython.display import display

In [2]:
# Pip Install nb_black
%load_ext nb_black

In [3]:
# Store file path
purchasefile_ = "Resources/purchase_data.csv"

# Data Frame

In [4]:
# Read data file with pandas
purchasefile_df = pd.read_csv("purchase_data.csv")

purchasefile_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

# Player Count 
* Total number of players

In [5]:
total_players = purchasefile_df["SN"].count()

players = pd.DataFrame({"Total Players": [total_players]})
players

   Total Players
0            780

# Purchasing Analysis (Total) 
* Number of Unique Items 
* Average Purchase Price 
* Total Number of Purchases 
* Total Revenue

In [6]:
# Calculations for the bullets above
num_unique_items = len((purchasefile_df["Item ID"]).unique())
avg_price = (purchasefile_df["Price"]).mean()
num_purchases = (purchasefile_df["Purchase ID"]).count()
total_rev = (purchasefile_df["Price"]).sum()

# Create data frame
table_df = pd.DataFrame(
    {
        "Number of Unique Items": [num_unique_items],
        "Average Purchase Price": [avg_price],
        "Total Number of Purchases": [num_purchases],
        "Total Revenue": [total_rev],
    }
)

# Format currency style
table_df.style.format(
    {"Average Purchase Price": "${:,.2f}", "Total Revenue": "${:,.2f}"}
)

# Gender Demographics 
* Percentage and Count of Male Players
* Percentage and Count of Female Players 
* Percentage and Count of Other/Non-Disclosed

In [7]:
# Group
gender_MF = purchasefile_df.groupby("Gender")

# Count of "SN" by gender
gender = gender_MF.nunique()["SN"]

# Calculations
percent_players = gender / total_players * 100

# Data frame and format
mf_demo = pd.DataFrame(
    {"Percentage of Players": percent_players, "Total Count": gender}
)
mf_demo.index.name = None
mf_demo.sort_values(["Total Count"], ascending=False).style.format(
    {"Percentage of Players": "{:.2f}"}
)

# Purchase Analysis by Gender 
* Purchase Count 
* Average Purchase Price 
* Total Purchase Value 
* Average Purchase Total Per Person by Gender

In [14]:
# Count of purchases by gender
numof_purchases = purchasefile_df["Gender"].count()

# Average purchase price by gender
avg_pprice = purchasefile_df["Price"].mean()


# Purchase Price by gender
pp_bygender = purchasefile_df["Price"].sum()

# Total Purchase Value
Purchase_value = pp_bygender / gender


# Data Frame
gender_demographics = pd.DataFrame(
    {
        "Purchase Count": numof_purchases,
        "Average Purchase Price": avg_pprice,
        "Total Purchase Value": Purchase_value,
        "Avg Purchases Total Per Person by Gender": pp_bygender,
    }
)

# index as "Gender"
gender_demographics.index.name = "Gender"


# Currency style
gender_demographics.style.format(
    {
        "Average Purchase Price": "${:,.2f}",
        "Total Purchase Value": "${:,.2f}",
        "Avg Purchase Total per Person by Gender": "${:,.2f}",
    }
)

# Age Demographics 
Bin Breakdown 
* Purchase Count
* Average Purchase Price 
* Total Purchase Value
* Average Purchase Total Per Person by Age Group

In [18]:
# Establish bins for ages
age_bin = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
grp_name = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# sort age values by bin
purchasefile_df["Age Group"] = pd.cut(purchasefile_df["Age"],age_bin, labels= grp_name)
purchasefile_df

# new data frame with age
age_grouped = purchasefile_df.groupby("Age Group")

# total players by age category
total_age = age_grouped["SN"].nunique()

# Calculations 
percent_byage = (total_age/total_players) * 100

# Data frame 
age_demographics = pd.DataFrame({"Percentage of Players": percent_byage, "Total Count": total_age})

age_demographics.index.name = None

age_demographics.style.format({"Percentage of Players":"{:,.2f}"})

# Top Spenders 
Top 5 spenders in the game by total purchase value
* SN 
* Purchase Count 
* Average Purchase Price 
* Total Purchase Value

# Most Popular Items
5 Most popular items by purchase count 
* Item ID 
* Item Name 
* Purchase Count 
* Item Price 
* Total Purchase Value

# Most Profitable Items 
* Item ID 
* Item Name 
* Purchase Count 
* Item Price 
* Total Purchase Value